<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>

<h2>Import Users from CSV</h2>
<%= form_with url: import_users_path, local: true, multipart: true do |form| %>
  <div>
    <%= form.label :file, "CSV file" %>
    <%= form.file_field :file %>
  </div>
  <div>
    <%= form.submit "Import" %>
  </div>
<% end %>
